#### 1. What are data structures, and why are they important ?

Ans: Data structures are a way to represent or store data. They are important because they provide various efficient ways to access or store data.

In [2]:
# 2. Explain the difference between mutable and immutable data types with examples ?

#Ans: Mutable data types allow modification of data after initialising them, while immutable data types dont.
names = ["navya", "bhagya", "teja"]
print("names:", names)
names[0] = "divya"
print(names)
personalities = ("good", "bad", "worst")
print("personalities:", personalities)
personalities[1] = "innocent"
print(personalities)

names: ['navya', 'bhagya', 'teja']
['divya', 'bhagya', 'teja']
personalities: ('good', 'bad', 'worst')

TypeError: 'tuple' object does not support item assignment

#### 3. What are the main differences between lists and tuples in Python ?

Ans: Lists are mutable while tuples are immutable.
     Lists are defined using [], while tuples are defined using ().
     Tuples are usually faster than lists.

#### 4. Describe how dictionaries store data ?

Ans: Dictionaries store data in a key value pair.

#### 5. Why might you use a set instead of a list in Python ?

Ans: We use set instead of list, when you need a sequence of unique values.

#### 6. What is a string in Python, and how is it different from a list ?

Ans: String is a sequence of characters while list is a sequence of any data type.

#### 7. How do tuples ensure data integrity in Python ?

Ans: Tuples dont allow modification,thereby maintaining data integrity.

#### 8. What is a hash table, and how does it relate to dictionaries in Python ?

Ans: Hash table contains a hashing fuction which is applied on the given key to get the address of where the value is stored this allows for a quicker       access of data. Dictoinaries in python are built upon hash tables.

#### 9. Can lists contain different data types in Python ?

Ans: Yes.

#### 10. Explain why strings are immutable in Python ?

Ans: Strings are immutable in python to maintain predictability and to avoid bugs due to theie modification.

#### 11. What advantages do dictionaries offer over lists for certain tasks ?

Ans: Dictionaries allow us to store key value pair and provide faster access to data.

#### 12. Describe a scenario where using a tuple would be preferable over a list ?

Ans: When we know the sequence of data wont change over time.
    For example: tuple of countries is less likely to change.

#### 13. How do sets handle duplicate values in Python ?

Ans: They ignore the addition of duplicate values.

#### 14. How does the “in” keyword work differently for lists and dictionaries ?

Ans: In list it checks if the value is present whereas in dictionaries it checks if the key is present.

#### 15. Can you modify the elements of a tuple? Explain why or why not ?

Ans: We cant not modify the elements of a tuple because they are immutable. 

#### 16. What is a nested dictionary, and give an example of its use case ?

Ans: Nested dictionary is where a value contains another dictionary, 
     For example: a dictionary of employees where employee name is a key and a dictionary of their details is the value.

#### 17. Describe the time complexity of accessing elements in a dictionary ?

Ans: The time complexity of accessing elements in a dictionary is constant time, O(1).

#### 18. In what situations are lists preferred over dictionaries ?

Ans: When we dont have a need for keyvalue pairs.

#### 19.  Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans: Dictionaries dont maintain order of insertion however they provide instant access using keys to retrive the data.

#### 20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans.List allows the data retrival through indices. Dictionaries provide instant access using keys to retrive the data.

In [4]:
# 1. Write a code to create a string with your name and print it ?

name = "Navya"
print(name)

Navya

In [5]:
# 2. Write a code to find the length of the string "Hello World" ?

len("Hello World")

11

In [6]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming" ?

a = "Python Programming"
print(a[0:3])

Pyt

In [9]:
# 4. Write a code to convert the string "hello" to uppercase ?

a = "hello"
print(a.upper())

HELLO

In [10]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

a = "i like apple"
a = a.replace("apple", "orange") 
print(a)

i like orange

In [12]:
# 6. Write a code to create a list with numbers 1 to 5 and print it ?

a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [13]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4] ?

a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [14]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

a = ['a', 'b', 'c', 'd']
print(a[1])

b

In [16]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]. ?

a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [17]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

numbers = (10, 20, 30)
print(numbers)

(10, 20, 30)

In [18]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry'). ?

fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [19]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2). ?

t = (1, 2, 3, 2, 4, 2)
count = 0

for i in t:
    if i == 2:
        count = count + 1

print(count)

3

In [20]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

a =  ('dog', 'cat', 'rabbit')
for i in range(0,3):
    if a[i] == "cat":
        print(i)

1

In [22]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana'). ?

fruits = ('apple', 'orange', 'banana')
print("banana" in fruits)

True

In [23]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

In [24]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

a = {1, 2, 3, 4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

In [25]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.?

numbers = (10, 20, 30)
print(numbers)

(10, 20, 30)

In [26]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [27]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2). ?

t = (1, 2, 3, 2, 4, 2)
count = 0

for i in t:
    if i == 2:
        count = count + 1

print(count)

3

In [28]:
# 21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

a =  ('dog', 'cat', 'rabbit')
for i in range(0,3):
    if a[i] == "cat":
        print(i)

1

In [29]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana'). ?

fruits = ('apple', 'orange', 'banana')
print("banana" in fruits)

True

In [30]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

In [31]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

a = {1, 2, 3, 4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}